.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.profileDropdown {
  position: absolute;
  top: 75px;
  transform: translateX(20%);
  background-color: #f7c39e;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 1px 1px 5px 2px rgba(80, 80, 80, 0.5);
  z-index: 100;
}

.dropdownText {
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  font-size: 20px;
  padding: 5px 0;
}


.listItems {
  padding: 8px 0;
}
