.footer_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 10px;
    background-color: #f7c39e;
    height: 55px;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
}

.footer_text {
    font-size: 24px;
    font-family: 'Nanum Myeongjo', serif;
}
