.itemCard {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 600px;
  height: auto;
  border-radius: 8px;
  transition: transform 0.2s ease-out;
}

.itemCard:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 2px rgba(80, 80, 80, 0.5);
  transform: scale(1.01);
  transform: translate(10px, -10px);
  transition: box-shadow 0.3s, transform 0.3s;
}
.imageContainer {
  position: relative;
  max-width: 150px;
  min-width: 150px;
  height: 150px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 51%;
  margin: 10px;
  border: 1px solid rgba(80, 80, 80, 0.5);
  box-shadow: 1px 1px 5px 2px rgba(80, 80, 80, 0.5);
}

/* .image {
  border: 1px solid black;
  position: relative;
  border-radius: 51%;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.cardText {
  color: black;
}

.catName {
  font-size: 40px;
  font-family: 'Nanum Pen Script', cursive;
}

.catBreed {
  font-size: 24px;
  font-family: 'Nanum Pen Script', cursive;
}

.catDescription {
  padding: 8px;
}


@keyframes transitionIn {
  from {
      opacity: 0.0;
      transform: translateY(10px);
    }
    to {
      opacity: 1.0;
  }
}
