.catContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 20px 10vw;
  gap: 20px;
}

.searchHeader {
  font-size: 50px;
  font-family: 'Nanum Pen Script', serif;
  margin-left: 10vw;
}

